/dts-v1/;

/* node '/' defined in zephyr/dts/common/skeleton.dtsi:9 */
/ {
	#address-cells = < 0x1 >;         /* in zephyr/dts/common/skeleton.dtsi:10 */
	#size-cells = < 0x1 >;            /* in zephyr/dts/common/skeleton.dtsi:11 */
	model = "QEMU Cortex-M0";         /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:13 */
	compatible = "bbc,qemu-microbit"; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:14 */

	/* node '/chosen' defined in zephyr/dts/common/skeleton.dtsi:13 */
	chosen {
		zephyr,bt-hci = &bt_hci_controller;          /* in zephyr/dts/arm/nordic/nrf51822.dtsi:9 */
		zephyr,entropy = &rng;                       /* in zephyr/dts/arm/nordic/nrf51822.dtsi:10 */
		zephyr,flash-controller = &flash_controller; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:11 */
		zephyr,console = &uart0;                     /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:17 */
		zephyr,shell-uart = &uart0;                  /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:18 */
		zephyr,bt-mon-uart = &uart0;                 /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:19 */
		zephyr,bt-c2h-uart = &uart0;                 /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:20 */
		zephyr,sram = &sram0;                        /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:21 */
		zephyr,flash = &flash0;                      /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:22 */
		zephyr,code-partition = &slot0_partition;    /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:23 */
	};

	/* node '/aliases' defined in zephyr/dts/common/skeleton.dtsi:15 */
	aliases {
		watchdog0 = &wdt0; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:27 */
	};

	/* node '/soc' defined in zephyr/dts/arm/armv6-m.dtsi:6 */
	soc {
		#address-cells = < 0x1 >;     /* in zephyr/dts/arm/armv6-m.dtsi:7 */
		#size-cells = < 0x1 >;        /* in zephyr/dts/arm/armv6-m.dtsi:8 */
		interrupt-parent = < &nvic >; /* in zephyr/dts/arm/armv6-m.dtsi:10 */
		ranges;                       /* in zephyr/dts/arm/armv6-m.dtsi:11 */
		compatible = "simple-bus";    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:35 */

		/* node '/soc/interrupt-controller@e000e100' defined in zephyr/dts/arm/armv6-m.dtsi:13 */
		nvic: interrupt-controller@e000e100 {
			#address-cells = < 0x1 >;            /* in zephyr/dts/arm/armv6-m.dtsi:14 */
			compatible = "arm,v6m-nvic";         /* in zephyr/dts/arm/armv6-m.dtsi:15 */
			reg = < 0xe000e100 0xc00 >;          /* in zephyr/dts/arm/armv6-m.dtsi:16 */
			interrupt-controller;                /* in zephyr/dts/arm/armv6-m.dtsi:17 */
			#interrupt-cells = < 0x2 >;          /* in zephyr/dts/arm/armv6-m.dtsi:18 */
			arm,num-irq-priority-bits = < 0x2 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:350 */
			phandle = < 0x1 >;                   /* in zephyr/dts/arm/armv6-m.dtsi:10 */
		};

		/* node '/soc/ficr@10000000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:37 */
		ficr: ficr@10000000 {
			compatible = "nordic,nrf-ficr"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:38 */
			reg = < 0x10000000 0x1000 >;    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:39 */
			#nordic,ficr-cells = < 0x1 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:40 */
			status = "okay";                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:41 */
		};

		/* node '/soc/uicr@10001000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:44 */
		uicr: uicr@10001000 {
			compatible = "nordic,nrf-uicr";     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:45 */
			reg = < 0x10001000 0x1000 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:46 */
			ranges = < 0x0 0x10001000 0x1000 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:47 */
			status = "okay";                    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:48 */
			#address-cells = < 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:49 */
			#size-cells = < 0x1 >;              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:50 */
		};

		/* node '/soc/memory@20000000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:53 */
		sram0: memory@20000000 {
			compatible = "mmio-sram";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:54 */
			#address-cells = < 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:55 */
			#size-cells = < 0x1 >;              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:56 */
			reg = < 0x20000000 0x4000 >;        /* in zephyr/dts/arm/nordic/nrf51822_qfaa.dtsi:16 */
			ranges = < 0x0 0x20000000 0x4000 >; /* in zephyr/dts/arm/nordic/nrf51822_qfaa.dtsi:17 */
		};

		/* node '/soc/power@40000000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:59 */
		power: power@40000000 {
			compatible = "nordic,nrf-power"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:60 */
			reg = < 0x40000000 0x1000 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:61 */
			interrupts = < 0x0 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:62 */
			status = "okay";                 /* in zephyr/dts/arm/nordic/nrf51822.dtsi:63 */
			#address-cells = < 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:64 */
			#size-cells = < 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:65 */

			/* node '/soc/power@40000000/gpregret1@4000051c' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:67 */
			gpregret1: gpregret1@4000051c {
				#address-cells = < 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:68 */
				#size-cells = < 0x1 >;              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:69 */
				compatible = "nordic,nrf-gpregret"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:70 */
				reg = < 0x4000051c 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:71 */
				status = "okay";                    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:72 */
			};
		};

		/* node '/soc/clock@40000000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:76 */
		clock: clock@40000000 {
			compatible = "nordic,nrf-clock"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:77 */
			reg = < 0x40000000 0x1000 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:78 */
			interrupts = < 0x0 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:79 */
			status = "okay";                 /* in zephyr/dts/arm/nordic/nrf51822.dtsi:80 */
		};

		/* node '/soc/nrf-mpu@40000000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:83 */
		nrf_mpu: nrf-mpu@40000000 {
			compatible = "nordic,nrf-mpu"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:84 */
			reg = < 0x40000000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:85 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:86 */
		};

		/* node '/soc/radio@40001000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:89 */
		radio: radio@40001000 {
			compatible = "nordic,nrf-radio"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:90 */
			reg = < 0x40001000 0x1000 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:91 */
			interrupts = < 0x1 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:92 */
			status = "okay";                 /* in zephyr/dts/arm/nordic/nrf51822.dtsi:93 */

			/* node '/soc/radio@40001000/bt_hci_controller' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:95 */
			bt_hci_controller: bt_hci_controller {
				compatible = "zephyr,bt-hci-ll-sw-split"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:96 */
				status = "okay";                          /* in zephyr/dts/arm/nordic/nrf51822.dtsi:97 */
			};
		};

		/* node '/soc/uart@40002000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:101 */
		uart0: uart@40002000 {
			compatible = "nordic,nrf-uart"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:102 */
			reg = < 0x40002000 0x1000 >;    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:103 */
			interrupts = < 0x2 0x1 >;       /* in zephyr/dts/arm/nordic/nrf51822.dtsi:104 */
			status = "okay";                /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:40 */
			current-speed = < 0x1c200 >;    /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:41 */
			pinctrl-0 = < &uart0_default >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:42 */
			pinctrl-1 = < &uart0_sleep >;   /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:43 */
			pinctrl-names = "default",
			                "sleep";        /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:44 */
		};

		/* node '/soc/spi@40003000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:108 */
		spi0: spi@40003000 {
			compatible = "nordic,nrf-spi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:109 */
			#address-cells = < 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:110 */
			#size-cells = < 0x0 >;         /* in zephyr/dts/arm/nordic/nrf51822.dtsi:111 */
			reg = < 0x40003000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:112 */
			interrupts = < 0x3 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:113 */
			max-frequency = < 0x7a1200 >;  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:114 */
			easydma-maxcnt-bits = < 0x8 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:115 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:116 */
		};

		/* node '/soc/i2c@40003000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:119 */
		i2c0: i2c@40003000 {
			compatible = "nordic,nrf-twi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:120 */
			#address-cells = < 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:121 */
			#size-cells = < 0x0 >;         /* in zephyr/dts/arm/nordic/nrf51822.dtsi:122 */
			reg = < 0x40003000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:123 */
			interrupts = < 0x3 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:124 */
			easydma-maxcnt-bits = < 0x8 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:125 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:126 */
		};

		/* node '/soc/spi@40004000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:129 */
		spi1: spi@40004000 {
			compatible = "nordic,nrf-spi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:136 */
			#address-cells = < 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:137 */
			#size-cells = < 0x0 >;         /* in zephyr/dts/arm/nordic/nrf51822.dtsi:138 */
			reg = < 0x40004000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:139 */
			interrupts = < 0x4 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:140 */
			max-frequency = < 0x7a1200 >;  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:141 */
			easydma-maxcnt-bits = < 0x8 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:142 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:143 */
		};

		/* node '/soc/i2c@40004000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:146 */
		i2c1: i2c@40004000 {
			compatible = "nordic,nrf-twi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:147 */
			#address-cells = < 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:148 */
			#size-cells = < 0x0 >;         /* in zephyr/dts/arm/nordic/nrf51822.dtsi:149 */
			reg = < 0x40004000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:150 */
			interrupts = < 0x4 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:151 */
			easydma-maxcnt-bits = < 0x8 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:152 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:153 */
		};

		/* node '/soc/gpiote@40006000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:156 */
		gpiote: gpiote0: gpiote@40006000 {
			compatible = "nordic,nrf-gpiote"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:157 */
			reg = < 0x40006000 0x1000 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:158 */
			interrupts = < 0x6 0x1 >;         /* in zephyr/dts/arm/nordic/nrf51822.dtsi:159 */
			instance = < 0x0 >;               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:161 */
			status = "okay";                  /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:32 */
			phandle = < 0x4 >;                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:344 */
		};

		/* node '/soc/adc@40007000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:164 */
		adc: adc@40007000 {
			compatible = "nordic,nrf-adc"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:165 */
			reg = < 0x40007000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:166 */
			interrupts = < 0x7 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:167 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:168 */
			#io-channel-cells = < 0x1 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:169 */
		};

		/* node '/soc/timer@40008000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:172 */
		timer0: timer@40008000 {
			compatible = "nordic,nrf-timer"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:173 */
			status = "disabled";             /* in zephyr/dts/arm/nordic/nrf51822.dtsi:174 */
			reg = < 0x40008000 0x1000 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:175 */
			cc-num = < 0x4 >;                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:176 */
			max-bit-width = < 0x20 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:177 */
			interrupts = < 0x8 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:178 */
			prescaler = < 0x0 >;             /* in zephyr/dts/arm/nordic/nrf51822.dtsi:179 */
		};

		/* node '/soc/timer@40009000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:182 */
		timer1: timer@40009000 {
			compatible = "nordic,nrf-timer"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:183 */
			status = "disabled";             /* in zephyr/dts/arm/nordic/nrf51822.dtsi:184 */
			reg = < 0x40009000 0x1000 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:185 */
			cc-num = < 0x4 >;                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:186 */
			max-bit-width = < 0x10 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:187 */
			interrupts = < 0x9 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:188 */
			prescaler = < 0x0 >;             /* in zephyr/dts/arm/nordic/nrf51822.dtsi:189 */
			phandle = < 0x5 >;               /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:42 */
		};

		/* node '/soc/timer@4000a000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:192 */
		timer2: timer@4000a000 {
			compatible = "nordic,nrf-timer"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:193 */
			status = "disabled";             /* in zephyr/dts/arm/nordic/nrf51822.dtsi:194 */
			reg = < 0x4000a000 0x1000 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:195 */
			cc-num = < 0x4 >;                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:196 */
			max-bit-width = < 0x10 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:197 */
			interrupts = < 0xa 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:198 */
			prescaler = < 0x0 >;             /* in zephyr/dts/arm/nordic/nrf51822.dtsi:199 */
		};

		/* node '/soc/rtc@4000b000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:202 */
		rtc0: rtc@4000b000 {
			compatible = "nordic,nrf-rtc"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:203 */
			reg = < 0x4000b000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:204 */
			cc-num = < 0x3 >;              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:205 */
			interrupts = < 0xb 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:206 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:207 */
			clock-frequency = < 0x8000 >;  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:208 */
			prescaler = < 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:209 */
		};

		/* node '/soc/temp@4000c000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:212 */
		temp: temp@4000c000 {
			compatible = "nordic,nrf-temp"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:213 */
			reg = < 0x4000c000 0x1000 >;    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:214 */
			interrupts = < 0xc 0x1 >;       /* in zephyr/dts/arm/nordic/nrf51822.dtsi:215 */
			status = "okay";                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:216 */
		};

		/* node '/soc/random@4000d000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:219 */
		rng: random@4000d000 {
			compatible = "nordic,nrf-rng"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:220 */
			reg = < 0x4000d000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:221 */
			interrupts = < 0xd 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:222 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:223 */
		};

		/* node '/soc/ecb@4000e000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:226 */
		ecb: ecb@4000e000 {
			compatible = "nordic,nrf-ecb"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:227 */
			reg = < 0x4000e000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:228 */
			interrupts = < 0xe 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:229 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:230 */
		};

		/* node '/soc/ccm@4000f000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:233 */
		ccm: ccm@4000f000 {
			compatible = "nordic,nrf-ccm"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:234 */
			reg = < 0x4000f000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:235 */
			interrupts = < 0xf 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:236 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:237 */
		};

		/* node '/soc/watchdog@40010000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:240 */
		wdt: wdt0: watchdog@40010000 {
			compatible = "nordic,nrf-wdt"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:241 */
			reg = < 0x40010000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:242 */
			interrupts = < 0x10 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:243 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:244 */
		};

		/* node '/soc/rtc@40011000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:247 */
		rtc1: rtc@40011000 {
			compatible = "nordic,nrf-rtc"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:248 */
			reg = < 0x40011000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:249 */
			cc-num = < 0x4 >;              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:250 */
			interrupts = < 0x11 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:251 */
			status = "disabled";           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:252 */
			clock-frequency = < 0x8000 >;  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:253 */
			prescaler = < 0x1 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:254 */
		};

		/* node '/soc/qdec@40012000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:257 */
		qdec: qdec0: qdec@40012000 {
			compatible = "nordic,nrf-qdec"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:258 */
			reg = < 0x40012000 0x1000 >;    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:259 */
			interrupts = < 0x12 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:260 */
			status = "disabled";            /* in zephyr/dts/arm/nordic/nrf51822.dtsi:261 */
		};

		/* node '/soc/comparator@40013000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:264 */
		comp: comparator@40013000 {
			compatible = "nordic,nrf-lpcomp"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:265 */
			reg = < 0x40013000 0x1000 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:266 */
			interrupts = < 0x13 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:267 */
			status = "disabled";              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:268 */
			#io-channel-cells = < 0x1 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:269 */
		};

		/* node '/soc/swi@40014000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:272 */
		swi0: swi@40014000 {
			compatible = "nordic,nrf-swi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:273 */
			reg = < 0x40014000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:274 */
			interrupts = < 0x14 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:275 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:276 */
		};

		/* node '/soc/swi@40015000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:279 */
		swi1: swi@40015000 {
			compatible = "nordic,nrf-swi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:280 */
			reg = < 0x40015000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:281 */
			interrupts = < 0x15 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:282 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:283 */
		};

		/* node '/soc/swi@40016000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:286 */
		swi2: swi@40016000 {
			compatible = "nordic,nrf-swi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:287 */
			reg = < 0x40016000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:288 */
			interrupts = < 0x16 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:289 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:290 */
		};

		/* node '/soc/swi@40017000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:293 */
		swi3: swi@40017000 {
			compatible = "nordic,nrf-swi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:294 */
			reg = < 0x40017000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:295 */
			interrupts = < 0x17 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:296 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:297 */
		};

		/* node '/soc/swi@40018000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:300 */
		swi4: swi@40018000 {
			compatible = "nordic,nrf-swi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:301 */
			reg = < 0x40018000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:302 */
			interrupts = < 0x18 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:303 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:304 */
		};

		/* node '/soc/swi@40019000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:307 */
		swi5: swi@40019000 {
			compatible = "nordic,nrf-swi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:308 */
			reg = < 0x40019000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:309 */
			interrupts = < 0x19 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:310 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:311 */
		};

		/* node '/soc/flash-controller@4001e000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:314 */
		flash_controller: flash-controller@4001e000 {
			compatible = "nordic,nrf51-flash-controller"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:315 */
			reg = < 0x4001e000 0x1000 >;                  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:316 */
			ranges;                                       /* in zephyr/dts/arm/nordic/nrf51822.dtsi:317 */
			#address-cells = < 0x1 >;                     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:318 */
			#size-cells = < 0x1 >;                        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:319 */

			/* node '/soc/flash-controller@4001e000/flash@0' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:321 */
			flash0: flash@0 {
				compatible = "soc-nv-flash";  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:322 */
				erase-block-size = < 0x400 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:323 */
				write-block-size = < 0x4 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:324 */
				status = "okay";              /* in zephyr/dts/arm/nordic/nrf51822.dtsi:325 */
				#address-cells = < 0x1 >;     /* in zephyr/dts/arm/nordic/nrf51822.dtsi:326 */
				#size-cells = < 0x1 >;        /* in zephyr/dts/arm/nordic/nrf51822.dtsi:327 */
				reg = < 0x0 0x40000 >;        /* in zephyr/dts/arm/nordic/nrf51822_qfaa.dtsi:11 */
				ranges = < 0x0 0x0 0x40000 >; /* in zephyr/dts/arm/nordic/nrf51822_qfaa.dtsi:12 */

				/* node '/soc/flash-controller@4001e000/flash@0/partitions' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:48 */
				partitions {
					compatible = "fixed-partitions"; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:49 */
					#address-cells = < 0x1 >;        /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:50 */
					#size-cells = < 0x1 >;           /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:51 */

					/* node '/soc/flash-controller@4001e000/flash@0/partitions/partition@0' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:53 */
					boot_partition: partition@0 {
						label = "mcuboot";    /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:54 */
						reg = < 0x0 0x8000 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:55 */
					};

					/* node '/soc/flash-controller@4001e000/flash@0/partitions/partition@8000' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:58 */
					slot0_partition: partition@8000 {
						label = "image-0";        /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:59 */
						reg = < 0x8000 0x1a000 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:60 */
					};

					/* node '/soc/flash-controller@4001e000/flash@0/partitions/partition@22000' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:63 */
					slot1_partition: partition@22000 {
						label = "image-1";         /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:64 */
						reg = < 0x22000 0x1a000 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:65 */
					};

					/* node '/soc/flash-controller@4001e000/flash@0/partitions/partition@3c000' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:68 */
					scratch_partition: partition@3c000 {
						label = "image-scratch";  /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:69 */
						reg = < 0x3c000 0x2000 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:70 */
					};

					/* node '/soc/flash-controller@4001e000/flash@0/partitions/partition@3e000' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:73 */
					storage_partition: partition@3e000 {
						label = "storage";        /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:74 */
						reg = < 0x3e000 0x2000 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:75 */
					};
				};
			};
		};

		/* node '/soc/ppi@4001f000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:331 */
		ppi: ppi@4001f000 {
			compatible = "nordic,nrf-ppi"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:332 */
			reg = < 0x4001f000 0x1000 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:333 */
			status = "okay";               /* in zephyr/dts/arm/nordic/nrf51822.dtsi:334 */
		};

		/* node '/soc/gpio@50000000' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:337 */
		gpio0: gpio@50000000 {
			compatible = "nordic,nrf-gpio"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:338 */
			gpio-controller;                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:339 */
			reg = < 0x50000000 0x1000 >;    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:340 */
			#gpio-cells = < 0x2 >;          /* in zephyr/dts/arm/nordic/nrf51822.dtsi:341 */
			port = < 0x0 >;                 /* in zephyr/dts/arm/nordic/nrf51822.dtsi:343 */
			gpiote-instance = < &gpiote >;  /* in zephyr/dts/arm/nordic/nrf51822.dtsi:344 */
			status = "okay";                /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:36 */
		};
	};

	/* node '/pin-controller' defined in zephyr/dts/vendor/nordic/nrf_common.dtsi:26 */
	pinctrl: pin-controller {
		compatible = "nordic,nrf-pinctrl"; /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:31 */

		/* node '/pin-controller/uart0_default' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:7 */
		uart0_default: uart0_default {
			phandle = < 0x2 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:42 */

			/* node '/pin-controller/uart0_default/group1' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:8 */
			group1 {
				psels = < 0x18 >,
				        < 0x1000019 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:9 */
			};
		};

		/* node '/pin-controller/uart0_sleep' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:14 */
		uart0_sleep: uart0_sleep {
			phandle = < 0x3 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0.dts:43 */

			/* node '/pin-controller/uart0_sleep/group1' defined in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:15 */
			group1 {
				psels = < 0x18 >,
				        < 0x1000019 >; /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:16 */
				low-power-enable;      /* in zephyr/boards/qemu/cortex_m0/qemu_cortex_m0-pinctrl.dtsi:18 */
			};
		};
	};

	/* node '/entropy_bt_hci' defined in zephyr/dts/vendor/nordic/nrf_common.dtsi:34 */
	rng_hci: entropy_bt_hci {
		compatible = "zephyr,bt-hci-entropy"; /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:35 */
		status = "disabled";                  /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:36 */
	};

	/* node '/sw-pwm' defined in zephyr/dts/vendor/nordic/nrf_common.dtsi:39 */
	sw_pwm: sw-pwm {
		compatible = "nordic,nrf-sw-pwm"; /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:40 */
		status = "disabled";              /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:41 */
		generator = < &timer1 >;          /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:42 */
		clock-prescaler = < 0x0 >;        /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:43 */
		#pwm-cells = < 0x3 >;             /* in zephyr/dts/vendor/nordic/nrf_common.dtsi:44 */
	};

	/* node '/cpus' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:14 */
	cpus {
		#address-cells = < 0x1 >; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:15 */
		#size-cells = < 0x0 >;    /* in zephyr/dts/arm/nordic/nrf51822.dtsi:16 */

		/* node '/cpus/cpu@0' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:18 */
		cpu@0 {
			device_type = "cpu";          /* in zephyr/dts/arm/nordic/nrf51822.dtsi:19 */
			compatible = "arm,cortex-m0"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:20 */
			reg = < 0x0 >;                /* in zephyr/dts/arm/nordic/nrf51822.dtsi:21 */
		};
	};

	/* node '/clocks' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:25 */
	clocks {

		/* node '/clocks/hfxo' defined in zephyr/dts/arm/nordic/nrf51822.dtsi:26 */
		hfxo: hfxo {
			compatible = "nordic,nrf51-hfxo"; /* in zephyr/dts/arm/nordic/nrf51822.dtsi:27 */
			clock-frequency = < 0xf42400 >;   /* in zephyr/dts/arm/nordic/nrf51822.dtsi:28 */
			startup-time-us = < 0x578 >;      /* in zephyr/dts/arm/nordic/nrf51822.dtsi:29 */
			#clock-cells = < 0x0 >;           /* in zephyr/dts/arm/nordic/nrf51822.dtsi:30 */
		};
	};
};
